@charset 'utf-8';

.contenedor{
    width: 700px;
    margin: auto; 
    align-content: center;
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: -1px -1px 47px 20px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 47px 20px rgba(0,0,0,0.75);
box-shadow: -1px -1px 47px 20px rgba(0,0,0,0.75);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.seccion1{
    background-color: #5f93f2;
    width: 300px;
    height: 400px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    
}

h1{
    font-size: 25px;
    padding-top: 100px;
    text-transform: uppercase;
}

.etiqueta_h5{
    padding-top: 30px;
}

.seccion2{
    width: 350px;
    height: 365px;
    text-align: left;
    
    padding: 25px;
    padding-top: 5px;
    color: #5a5858;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 15px;
}

h3{
    margin-bottom: -10;
   
}

.inputs{
    width: 350px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-color: gray;
    border-bottom-width: 1px;
    
}

.btn_enviar{
    background-color: #5f93f2;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 130px;
    margin-left: 220px;
}

