.contenedor{
    width: 1100px;
    margin: auto;
}

header{
    border: 1px solid orange;
    background-color: orange;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
}

nav{
    border: 1px solid #DAA520;
    background-color: #FFD700;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
}

.texto{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

main{
    border: 1px solid #2E8B57;
    background-color: #2E8B57;
    color: white;
    border-radius: 10px 10px 10px 10px;
    width: 700px;
    padding: 10px;
    height: 350px;
}

.seccion_articule{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.articule_1{
    border: 1px solid #87CEEB;
    background-color: #87CEEB;
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 150px;
    padding: 10px;
}

.articule_2{
    border: 1px solid #87CEEB;
    background-color: #87CEEB;
    border-radius: 10px 10px 10px 10px;
    width: 250px;
    height: 150px;
    padding: 10px;
}

aside{
    border: 1px solid #1E90FF;
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    width: 330px;
    height: 350px;
    text-align: center;
}

footer{
    border: 1px solid #87CEEB;
    background-color: #87CEEB;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
}