@charset 'utf-8';

.contenedor{
    width: 700px;
    margin: auto;
    padding: 10px;
    align-content: center;
}

table{
    width: 600px;
    margin: auto;
    border: 3px solid black;
    text-align: center;
    table-layout: fixed;
}

th{
    background-color: #81DAF5;
}

.numeros{
    background-color: #F3F781;
    text-align: center;
    font-weight: bold;
}

.total{
    background-color: #82FA58;
    text-align: right;
    font-weight: bold;
}

.precio{
    text-align: right;
}